<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src = "app/app.js"></script>
    <script src = "app/controller/weatherController.js"></script>
    <script src = "app/factory/weatherFactory.js"></script>
    <script src = "app/services/weatherService.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
            table, th, td {
                border: 1px solid black;
            }
    </style>
</head>
<body ng-controller="weatherController">

<input type="text" placeholder="City" ng-model="city">
<button ng-click="getJson()">Submit</button>
<button ng-click="getCurrentWeather()">Current Temprature</button>
<button ng-click="getForecastDetials()">Get Forcast Details</button>

<!--<table style="width:100%" ng-if="filteredList" >
<tr>
   <td>Date & Time</td>
   <td>Weather Condition</td>
    <td>Forcast</td>
    <td>Temprature</td>
  </tr>
  <tr ng-repeat="x in filteredList">
   <td>{{x.time}}</td>
   <td>{{x.cond}}</td>
    <td><img src={{x.weatherIcon}} /></td>
    <td>{{x.degree}}</td>
  </tr>

</table>-->
    <div class="container-fluid">
          <div class="row" style="text-align: center">
            <div class="col-12 col-sm-12 col-md-12" ng-if="todayData">
                <b>Day: </b> {{todayData[0].time}}<br>
                <b>Conditions: </b> {{todayData[0].cond}}<br>
                <b>Weather Icon: </b> <img src={{todayData[0].weatherIcon}} /><br>
                <b>Temperature: </b> {{todayData[0].degree}}<br>
                <b>Max Temperature: </b> {{todayData[0].maxTemp}}<br>
                <b>Min Temperature: </b> {{todayData[0].minTemp}}<br>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="x in filteredList">
                <div class="col-3 col-sm-6  col-md-3">
                    <b>Day: </b> {{x.time}}<br>
                    <b>Conditions: </b> {{x.cond}}<br>
                    <b>Weather Icon: </b> <img src={{x.weatherIcon}} /><br>
                    <b>Temperature: </b> {{x.degree}}<br>
                    <b>Max Temperature: </b> {{x.maxTemp}}<br>
                    <b>Min Temperature: </b> {{x.minTemp}}<br>
                </div>
            </div>
        </div>
    </div>    

<div ng-if="currentTemp">
    <label>Input City Temprature: {{currentTemp}}</label>
</div>


</body>
</html>