<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src = "app/app.js"></script>
    <script src = "app/controller/weatherController.js"></script>
    <script src = "app/factory/weatherFactory.js"></script>
    <script src = "app/services/weatherService.js"></script>
</head>
<body ng-controller="weatherController">

<input type="text" placeholder="City" ng-model='city'>
<button ng-click="getJson()">Submit</button>
<button ng-click="getCurrentWeather()">Current Temprature</button>
<p>{{data}}</p>
<p>{{location.lon}}</p>
<div ng-if="currentTemp !== ''">
    <label>Input City Temprature: {{currentTemp}}</label>
</div>
</body>
</html>